.s {
	background-image: url(https://i.pinimg.com/originals/29/a2/e2/29a2e2a0e8eadf73e5154651da68a23c.gif);
	height: 100px;
	font-size: 75px;
	width: 750px

}

.mac {
	height: 600x;
	width: 500px;
	background: #eaeaed;
	border: 1px solid #9799a7;
	margin: 8px 0 0 20px;
	padding: 4px;
}

.container {
	float: left;
}

.classic {
	height: 600x;
	width: 450px;
	background: #eaeaed;
	border: 1px solid #9799a7;
	margin: 8px 0 0 20px;
	padding: 4px;
}